.hamburger {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 60px;
    height: 60px;
	background: url(https://i.ibb.co/HrfVRcx/menu.png) no-repeat center;
	background-size: 30px;
	cursor: pointer;
    &.active {
        background: url(https://i.ibb.co/rt3HybH/close.png) no-repeat center;
        background-size: 25px;
        background-color: #1d5838;
        position: absolute;
        right: -260px;
    }
}

nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    ul {
        position: relative;
        li {
            list-style: none;
            text-align: center;
            a {
                text-decoration: none;
                font-size: 24px;
                color: #000000;
                &:hover {
                    color: #1d5838;
                }
            }
        }
    }
}