@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import 'reset';
@import 'header';
@import 'nav';
@import 'hero';
@import 'footer';

html {
	scroll-behavior: smooth;
}

section {
	position: relative;
	padding: 64px 0;
	width: 85vw;
	margin: 0 auto;
}